body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    color: #343a40;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.container {
    max-width: 1000px;
}

.card img {
    height: auto;
    max-width: 100%;
    display: block;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover; 
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.nav-tabs-center {
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 300px;
    }
}

/* Timeline styles */
.timeline {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #e9ecef;
    left: 50%;
    margin-left: -1px;
}

.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline-badge {
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -25px;
    background-color: #6c757d;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    z-index: 100;
}

.timeline-panel {
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.timeline > li:nth-child(odd) .timeline-panel {
    left: 0;
}

.timeline > li:nth-child(even) .timeline-panel {
    left: 54%;
}

.timeline-heading h5 {
    margin-top: 0;
    color: #007bff;
}

.timeline-body > p {
    margin-bottom: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .timeline::before {
        left: 8%;
    }

    .timeline-badge {
        left: 8%;
    }

    .timeline-panel {
        width: calc(100% - 70px);
        left: 70px !important;
    }

    .timeline > li:nth-child(odd) .timeline-panel,
    .timeline > li:nth-child(even) .timeline-panel {
        left: 70px;
    }
}

.card-img-top:hover {
    transform: scale(1.05); /* Membesarkan gambar saat dihover */
    transition: transform 0.3s ease; /* Efek transisi */
}

.modal-image {
    width: 100%; /* Lebar gambar 100% dari parent */
    height: auto; /* Tinggi gambar menyesuaikan proporsi */
    object-fit: cover; /* Mengubah proporsi gambar sesuai dengan dimensi parent */
}
